
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
*.idea
composer.phar
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###
