{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th>Article name</th>
                <th>Date</th>
                <th>IP</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Titre de l'article</td>
                <td>Date de la stat</td>
                <td>192.168.99.100</td>
                <td>create</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
