{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <h4>Articles</h4>
    <ul>
    {% for article in articles %}
        <li><a href="#">{{ article.title }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
